nav {
  background-color: $primary-color;
  padding: 1em 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  flex-grow: 1;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1.1em;
  border: 1px solid $white-color;
  outline: none;
  color: $primary-color;
  padding: 0.5em 1.2em;
  border-radius: 999em;
  background-color: $white-color;
  font-weight: bold;
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $white-color;
  min-width: 150px;
  margin: 1px 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: $black-color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.fa-caret-down {
  margin: 0 0.5em;
}
